@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {
   margin: 0 0;
   padding: 0 0;
   border: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

:root {
   --white: #FFFFFF;
   --black: #000000;
   --primary: #008037;
   --secondary: #E9EFF4;
}

body{
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.div1
{   display:inline-block;
    background-color:#E9EFF4;
    width:50vw;
    height:100vh;
}
.div2
{   display: inline-block; 
    background-color:#FFFFFF;
    height:100vh;
    width:50vw;
    text-align: center;
}

.logo
{
    display:inline-block;
    width: 35vw;
    height: 70vh;
    margin-left: 7.5vw;
    margin-top: 12vh;
}

.message {
    font-size: 3vh;
    font-weight: 600;
    color: red;
    margin-top: 4.1vh;
    width: 26vw;
    min-height: 7vh;
 }

 .signUpContainer {
    display: inline-block;
    width: 26vw;
    height: 65vh;
    margin-top: 3.8vh;
    background-color: var(--secondary);
    /*justify-self: center;
    /*float: left;*/
    text-align: center;
 }
 
 .title {
    font-size: 6vh;
    color: var(--primary);
    font-weight: 700;
    margin-top: 4vh;
    margin-bottom: 3vh;
 }
 
 .inputs {
    font-size: 2.5vh;
    width: 20vw;
    margin-top: 4vh;
    padding: 1vh 1.3vw;
    border: none;
    outline: none;
    border-bottom: 0.15vw solid var(--black);
    background-color: var(--secondary);
    color: var(--black);
 }
 
 .button {
    font-size: 3vh;
    font-weight: 600;
    width: 11vw;
    height: 6.3vh;
    padding: 0.6vh 1vw;
    margin-top: 9vh;
    color: var(--black);
    background-color: var(--white);
    border: 0.2vw solid var(--primary);
    border-radius: 6px;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
 }
 
 .button:hover {
    transform: scale(1.06);
    cursor: pointer;
 }
 
 .eyeIcon {
    margin-left: -2.4vw;
    padding: 0.3vh 0.2vw;
    font-size: 3.2vh;
 }
 
 .eyeIcon:hover {
    cursor: pointer;
 }
