<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Register</title>
</head>
<body>
    <h1>Register for student</h1>
    <form method="post">
        <input type="text" placeholder="First Name" name="firstName" required id=""><br>
        <input type="text" placeholder="Last Name" name="lastName" id=""><br>
        <input type="email" placeholder="Email" name="email" id="" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="text" name="role" value="student" required readonly id=""><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>