<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2965379893.js" crossorigin="anonymous"></script>
    <title>LoginInstructor</title>
    <link rel="stylesheet" href="/login/css/instructorLogin.css" />
    <script src="/login/js/instructorLogin.js"></script>
</head>
<body>
    <div class="container">
        <div class="div1">
            <img src="/login/image/logo.png" class="logo">
        </div>
        <div class="div2">
            <div style="justify-self: center; text-align: center;">
                <div class="message" id="signInmessage"></div><br>
                <div class="signInContainer">
                   <h1 class="title">Sign In</h1>
                      <form method="post">
                         <input type="email" id="signInEmail" name="email" class="inputs" autocomplete="off" placeholder="email" style="margin-top: 0.5vh; width: 21vw;"><br><br>
                         <input type="password" id="signInPassword" name="password" class="inputs" autocomplete="off" placeholder="password" style="margin-top: 2.3vh; width: 21vw;"><i class="fa-solid fa-eye eyeIcon" id="eyeIcon" onclick="togglePassword()"></i><br><br>
                         <input type="text" class="inputs" name="role" value="instructor" readonly style="margin-top: 2.3vh; width: 21vw;"><br><br>
                         <input type="submit" class="button" value="Login" style="margin-top: 2.6vh;">
                      </form>
                    <div class="register">
                        <p>Not registered? <a href="/register/instructor">Register</a></p>
                    </div>  
                </div>
             </div>
        </div>
    </div>

</body>
</html>