<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
</head>
<body>
    <form action = "/login/student" method="post">
        <input type="email" name="email" placeholder="email" required id=""><br>
        <input type="password" placeholder="password" name="password" id="" required><br>
        <input type="text" name="role" value="student" readonly>
        <input type="submit" value="Login">
    </form>
    <a href="/register/student">Register</a>
</body>
</html>